.PrivateTasksCard {
    max-height: 47%;
    min-height: 47%;
    max-width: 90%;
    min-width: 90%;
    padding: 25px;
}

.PrivateTasksCardList {
    display: block;
}

.PrivateTasksCardListWrapper {
    padding: 0 25px 15px 0;
    overflow: auto;
    max-height: 100%;
    min-height: 100%;
}

.Heading {
    white-space: nowrap;
    font-size: 25px;
    margin-bottom: 10px;
    width: 250px;
}

.TitleForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.DescriptionForm {
    width: 100%;
    display: flex;
    justify-content: space-between;
}