.PrivateTasksCard {
    max-height: 47%;
    min-height: 47%;
    max-width: 90%;
    min-width: 90%;
    overflow: hidden;
    padding: 25px;
}

.PrivateTasksCardList {
    display: block;
}

.PrivateTasksCardListWrapper {
    padding: 0 25px 15px 0;
    overflow: auto;
    max-height: 100%;
    min-height: 100%;
}

.Heading {
    font-size: 25px;
    margin-bottom: 10px;
}