.MainWrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    max-width: 100%;
}

.RightPart {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.LeftPart {
    max-width: calc(100% - 300px);
    flex: 1;
}