@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

li {
    list-style-type: none;
}

html {
    overflow: hidden;
}

#root {
    --sidebar-background: #5C4E69;
    --sidebar-active-background: #4B3E56;
    --main-background: #6C5B7B;
    --card-background: #5C4E69;
    display: flex;
    background-color: var(--main-background);
}

main {
    max-width: calc(100% - 200px);
    background-size: 100% auto;
    display: flex;
    flex: 1;
    height: 100vh;
}

