@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

#root {
    --sidebar-background: #5C4E69;
    --sidebar-active-background: #4B3E56;
    --main-background: #6C5B7B;
    display: flex;
}

main {
    flex: 1;
    height: 100vh;
    background-color: var(--main-background);
}
